@model PersonaMVC4Example.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
 </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- 
        Script from https://developer.mozilla.org/en-US/docs/Persona/Quick_Setup 
        NEEDED FOR PERSONA - Should be moved into its own JavaScript 
    -->
    <script>
        var signinLink = document.getElementById('personasignin');
        if (signinLink) {
            signinLink.onclick = function () { navigator.id.request(); };
        };

        var signoutLink = document.getElementById('personasignout');
        if (signoutLink) {
            signoutLink.onclick = function () { navigator.id.logout(); };
        };

        var currentUser = "scott@hanselman.com"; /* or email */

        navigator.id.watch({
            loggedInUser: currentUser,
            onlogin: function (assertion) {
                // A user has logged in! Here you need to:
                // 1. Send the assertion to your backend for verification and to create a session.
                // 2. Update your UI.
                $.ajax({ /* <-- This example uses jQuery, but you can use whatever you'd like */
                    type: 'POST',
                    url: '/api/persona/login', // This is a URL on your website.
                    data: { assertion: assertion },
                    success: function (res, status, xhr) { window.location.reload(); },
                    error: function (res, status, xhr) { alert("login failure" + res); }
                });
            },
            onlogout: function () {
                // A user has logged out! Here you need to:
                // Tear down the user's session by redirecting the user or making a call to your backend.
                $.ajax({
                    type: 'POST',
                    url: '/api/persona/logout', // This is a URL on your website.
                    success: function (res, status, xhr) { window.location.reload(); },
                    error: function (res, status, xhr) { alert("logout failure" + res); }
                });
            }
        });


    </script>
}
