@model PersonaMVC4Example.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
 </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <!-- 
        Script from https://developer.mozilla.org/en-US/docs/Persona/Quick_Setup 
        NEEDED FOR PERSONA - Should be moved into its own JavaScript 
    -->
    <script>
        function onAssertion(assertion) {
            if (assertion) {
                $.ajax({ /* <-- This example uses jQuery, but you can use whatever you'd like */
                    type: 'POST',
                    url: '/api/persona/login', // This is a URL on your website.
                    data: { assertion: assertion, },
                    success: function (res, status, xhr) { window.location.reload(); },
                    error: function (res, status, xhr) { alert("login failure" + res); }
                });
            }
            else {
                alert('Error while performing Browser ID authentication!');
            }
        }

        $(document).ready(function () {
            $("#personasignin").click(function () {
                navigator.id.get(onAssertion);
                return false;
            });
        });


    </script>
}
